<div class="card">
  <h4 class="card-header">Add new cat</h4>
  <div class="card-body">
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()">
      <input class="form-control mr-2" type="text" name="name"
             formControlName="name" placeholder="Name">
      <input class="form-control mr-2" type="number" name="age"
             formControlName="age" placeholder="Age" min="0">
      <input class="form-control mr-2" type="number" name="weight"
             formControlName="weight" placeholder="Weight" step="any" min="0">
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid">
        <i class="fa fa-plus"></i> Add
      </button>
    </form>
  </div>
</div>
